@import url(http://allfont.net/allfont.css?fonts=agency-fb);
.prev::selection, .next::selection, .dots-container::selection, .scb::selection, img::selection, section::selection, .card::selection, .card p::selection, .card span::selection, br::selection, .sec3 h3::selection, .sec3 input::selection, .sec3 label::selection, .input-box::selection, .navibar a::selection, .numbertext::selection
{
  background: none;
  text-decoration: none;
}
section{background: #ffffff;background: mintcream; overflow: hidden;}
section.content
{
  padding: 80px 5% 0;
  font-family: Roboto;
}
.blackback
{
  color: rgba(255, 255, 255, 0.5);!important
}
.active a.blackback
{
  color: white;!important
}
.textmiddle
{
  text-align: center;
}
header {
    margin-bottom: 155px;
}
section.moto h1
{
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -3px;
}

section.moto p.thin
{
  margin: 20px 0 0;
  padding: 0;
  font-size: 2.2em;
  font-family: Roboto;
  font-weight: 100;
  letter-spacing: -1px;
}
section.moto span
{
  font-weight: 300;
}

/*Image Slider*/
#top .mySlides img
{
  width: 100%;
  object-fit: cover;
  height: 568px;
}
#top .slideshow-container
{
  max-width: 100vw;
}
.slideshow-container
{
  max-width: 100vw;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides, .prev, .next
{
    display: none;
}
.mySlides{height: 568px;}
/* Next & previous buttons */
@media (min-width: 769px) {
   .prev, .next
  {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 271px 16px;
    color: rgba(255, 255, 255, .2);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    display: block;
  }
  /* Position the "next button" to the right */
  .next
  {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
  color: rgba(255 ,255 ,255 ,1);
}
/* Number text (1/3 etc) */
.numbertext
{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 250ms ease, opacity 250ms ease;
  opacity: .8;
}
.activedot, .dot:hover
{
  background-color: #717171;
}
.dots-container
{
  position: absolute;
  width: 100%;
}
.dots-container:hover .dots
{
  opacity: 1;
}
/* Fading animation */
.fade
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 250ms;
  animation-name: fade;
  animation-duration: 250ms;
}
@-webkit-keyframes fade
{
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade
{
  from {opacity: .4}
  to {opacity: 1}
}

/*HEADER*/
.head-wrap h1 {
    font-family: Harlow Solid, Impact;
    font-size: 111px;
    position: absolute;
    left: 610px;
    color: #ffffff;
    top: 0;
    white-space: nowrap;
    line-height: 0;
    text-shadow: 0 0 5px black;
}
.head-wrap p {
  font-family: Agency FB;
  font-size: 45px;
  color: #ffffff;
  margin: 0;
  line-height: 1.1em;
}
p.small {
  font-size: 35.7px;
}
  .head-wrap
  {
    content: '';
    position: absolute;
    background-color: #BD4F6C;
    width: 1031px;
    height: 532px;
    top: 278px;
    left: 68px;
    opacity: .9;
    box-shadow: 0 0 20px black;
  }
    .head-wrap:after
  {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, white 50%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 27px 35px;
    background-repeat: repeat-x;
    width: 514px;
    height: 35px;
    top: 0;
    left: 308px;
  }
  decoration:before, decoration:after
  {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 11px;
    border-radius: 5.5px;
  }
  decoration:before {
      height: 297px;
      top: 163px;
      left: 978px;
  }
  decoration:after {
      height: 11px;
      top: 481px;
      left: 978px;
  }
  triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 60px 60px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    transform: rotate(-135deg);
    top: 465px;
    left: -20px;
  }
  .head-wrap .t1 {
    margin-top: 150px;
    margin-left: 50px;
  }
  .head-wrap .t2 {
    margin-top: 20px;
    margin-left: 235px;
  }
  .head-wrap .b1 {
    margin-top: 45px;
    margin-left: 105px;
  }
  .head-wrap .b2 {
    margin-top: 25px;
    margin-left: 135px;
  }
  button.head {
    height: 93px;
    width: 100vw;
    max-width: 281px;
    font-family: Agency FB;
    font-size: 55px;
    background-color: rgba(0, 0, 0, 0);
    border: solid #ffffff;
    color: #ffffff;
    transform: translateY(-70px);
    margin-left: 550px;
    text-align: center;
    cursor: pointer;
    outline-style: none;
    overflow: hidden;
    padding: 1px 6px;
    text-shadow: 0px 2px 4px black;
    box-shadow: 0px 3px 5px 1px black;
}
  button.head:after {
    content: '';
    height: 234px;
    width: 318px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
    border: none;
    left: -240px;
    top: -208px;
    transition: left 250ms, top 250ms;
    transform: rotate(-45deg);
    position: absolute;
  }
  button.head:hover {
    color: #6B0F1A;
  }
  button.head:hover:after {
    left: 169px;
    top: 90px;
  }
button.head:active {
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(-66px);
  text-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px 1px black;
}
@media (max-width: 1340px)
{
    .head-wrap
    {
      width: 100vw;
      height: 403px;
      top: 362px;
      left: 0;
    }
      .head-wrap:after
    {
      top: 361.9px;
      left: 50%;
      transform: translateX(-50%);
    }
    .head-wrap h1 {
      font-size: 81px;
      right: 33px;
      top: 320px;
      left: inherit;
    }
    decoration:before
    {
      height: 137px;
      top: 484px;
      left: inherit;
      right: 36px;
    }
    decoration:after
    {
      left: inherit;
      right: 36px;
      top: 641px;
    }
    triangle{
      top: 704px;
      left: -27px;
    }
    .head-wrap p
    {font-size: 43px;
    }
    .head-wrap .t1 {
      top: 445px;
      left: 42px;
    }
    .head-wrap .t2 {
      top: 503px;
      left: 25vw;
    }
    p.small {
      font-size: 31px;
    }
    .head-wrap .b1 {
      top: 600px;
      left: 123px;
    }
    .head-wrap .b2 {
      top: 645px;
      left: 28.7vw;
    }
    button.head {
      left: inherit;
      right: 10vw;
    }
}
@media (max-width: 768px)
{
    decoration, triangle, .head-wrap:after
    {
      display: none;
    }
    .head-wrap
    {
      height: 444px;
    }
    .head-wrap h1 {
      width: 100vw;
      font-size: 3.6em;
      text-align: center;
      left: 0;
    }
    .head-wrap .t1 {
        top: 415px;
    }
    .head-wrap .t2 {
      top: 444px;
    }
    .head-wrap .b1 {
      top: 490px;
    }
    .head-wrap .b2 {
      top: 520px;
    }
    .head-wrap .t1, .head-wrap .t2, .head-wrap .b1, .head-wrap .b2 {
        font-size: 1.7em;
        left: 0;
        text-align: center;
        width: 100vw;
    }
    button.head {
      transform: translateX(-50%);
      left: 50%
    }
}
section.sec2
{
  width: 100%;
  height: 100%;
  background: #000;
  padding: 0 0 100px 0;
  overflow: hidden;
}
section h1.scb
{
  text-align: center;
  font-family: roboto;
  font-weight: 500;
  margin: 0;
  padding: 42px;
  font-size: 4.521em;
  color: #ffffff;
  transform: translateY(-49.4%);
  left: 50%;
}
section h1.b2
{
  color: #000000;
  transform: translateY(50.5%);
  letter-spacing: inherit;
}
@media (max-width: 875px){
  section h1.scb
  {
    font-size: 2em;
  }
  section h1.b2
  {
    transform: translateY(50.5%);
  }
}
.card
{
  padding: 0;
  margin: 0 13% 11.5% 13%;
  background: white;
  animation: background 250ms;
  font-family: roboto, monospace;
  font-weight: 500;
  border-radius: 4% 4% 0 0;
}
.card p
{
  color: white;
  margin: 0;
  padding: 4.6% 15px;
  transition: background 250ms, color 250ms;
  background: rgba(0, 0, 0, 0.8);
}
.card a
{
  text-decoration: none;
  transition: opacity 250ms;
}
.card a:hover
{
  opacity: 0.7;
}
.card a:hover p
{
  background: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 1.0);
}
.card a:hover span
{
  color: rgba(0, 0, 0, .5);
}
.card a span
{
  color: rgba(255, 255, 255, 0.5);
  transition: color 250ms;
}
.card img
{
  max-width: 100%;
  border-radius: 3% 3% 0 0;
  image-rendering: pixelated;
}
.grid-parent
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin: -75px 0;
  padding: 0 calc(5% - 2.5%);
}

/*     _              _
    ^ | |            | |
   / \| |__  __ _   _| |_
  / ^ \  _ \/  \ | | | __|
 / ___ \|_) |() ||_| | |_
/_/   \_\__/\__/\__,_|\__| about*/

about section.about
{
  padding-bottom: 80px;
  font-family: roboto, sans-serif;
}
about h1
{
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 3em;
  text-align: center;
  width: 100%;
}
about p
{
  margin: 0;
  padding: 0;
}
.lightbox
{
  display: none;
  position: fixed;
  z-index: 999;
  width: 120%;
  height: 120%;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  background: rgba(0,0,0,0.8);
  opacity: 0;
}

.lightbox img
{
  max-width: 90vw;
  max-height: 80vh;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.lightbox:target
{
  outline: none;
  animation-name: bgfade;
  display: block;
  opacity: 1;
  animation-duration: 250ms;
}
.lightbox:target img
{
  animation-name: photozoom;
  animation-duration: 250ms;
}
@keyframes bgfade
{
 from {opacity: 0;}
 to   {opacity: 1;}
}
@keyframes photozoom
{
  from  {height: 0;}
  to    {height: 80vh;}

}
about div.thumbnail {
    padding: 0;
    float: unset;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    height: 200px;
    background-position-y: 39%;
    background-repeat: no-repeat;
}
about-anin div
{
    background-image: url(../img/About/about1.jpg);
}
about-crochet div
{
    background-image: url(../img/About/about2.jpg);
}
@media (min-width: 769px) {
  about div.thumbnail
  {
    padding: 0;
    float: left;
    margin: 25px 3% 0px -0.1%;
    width: 40vh;
    max-width: 250px;
    height: 177px;
  }
}


/*_____       _
|  ____|     | |
| |__ __  __ | |_ ___ _ __
|  __/  \/  \| __/ _ \ '__|
| | | () |() | ||  __/ |
|_|  \__/ __/ \__\___|_| footer*/

section.sec3
{
  width: 100%;
  height: 40vh;
  background: url('https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&h=768');
  background: url('https://picsum.photos/1366/270?random');
  background-size: cover;
  font-family: roboto;
  background-position: center;
}
section.sec3:after
{
  width: 100%;
  height: 40vh;
  background: url('https://picsum.photos/1366/768/?random');
  background-size: cover;
  font-family: roboto;
}
section.sec3 div.Lsc3
{
  background: rgba(0, 0, 0, .7);
  height: 100%;
  width: 50%;
  float: left;
}

section.sec3 div.Rsc3
{
  background: rgba(0, 0, 0, .7);
  height: 100%;
  width: 50%;
  float: right;
}

.Lsc3 h3
{
  padding: 10px 0 0 10px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
textarea,
input,
.Lsc3
{
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
}
.input-box
{
  position: relative;
  margin-top: 0;
}
.input-box textarea,
.input-box input
{
  width: 50%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  border-bottom: 2px solid #666;
}
.input-box textarea,
.input-box input,
input.button
{
  margin-left: 10px;
  font-family: roboto;
  max-width: 100%;
  max-height: 20vh;
}
input.button
{
  background: #ff006a;
  color: #fff;
  padding: 3px 10px;
  margin-left: calc(50% - 106.2px);
  border: none;
  outline: none;
  font-weight: 300;
  text-transform: uppercase;
}
input.button:hover
{
  color: black;
}
.input-box label
{
  top: 0;
  left: 0;
  padding-left: 10px;
  text-transform: uppercase;
}
.input-box input:focus + label,
.input-box textarea:focus + label
{
  color: rgba(255, 255, 255, .4);
}
@media (min-width:2048px)
{
  img.sc
  {
    padding: 100px;
  }
}
@media (min-width:769px)
{
  .black .special
  {
  background: none;
  }
}
@media (max-width:768px)
{
  img.sc
  {
    padding: 20px;
  }
  table.sc
  {
    height: 80vh;
  }
}
@media (max-width:376px)
{
  img.sc
  {
    padding: 3px;
  }
}
@media (max-width:1034px){
  .card
  {
    margin: 0 9% 11.5% 9%;
  }
  .grid-parent
  {
    grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
    grid-gap: 0;
  }
}
